.about-container{
width:90%;
margin:auto;
padding:50px 0;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}


/* HERO */

.about-hero{
margin-bottom:60px;
padding:0 20px;
}

.about-hero h1{
font-size:40px;
margin-bottom:15px;
color:#5914d0;
}

.about-hero p{
font-size:18px;
color:#020c11;
line-height:1.6;
max-width:700px;
margin:auto;
}


/* STATS */

.stats{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.stat-box{
background:#111;
color:white;
padding:30px 40px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
transition:0.3s;
min-width:180px;
}

.stat-box:hover{
transform:translateY(-5px);
}

.stat-box h2{
font-size:30px;
color:#ffcc00;
margin-bottom:5px;
}

.stat-box p{
font-size:16px;
color:#ddd;
}


/* TABLET RESPONSIVE */

@media (max-width:768px){

.about-hero h1{
font-size:32px;
}

.about-hero p{
font-size:16px;
}

.stats{
gap:20px;
}

.stat-box{
padding:25px 30px;
}

}


/* MOBILE RESPONSIVE */

@media (max-width:480px){

.about-hero h1{
font-size:26px;
}

.about-hero p{
font-size:15px;
}

.stats{
flex-direction:column;
align-items:center;
}

.stat-box{
width:80%;
}

.stat-box h2{
font-size:26px;
}

}